.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
}
.contents-wrapper {
  display: flex;
}

.contents-link {
  margin-right: 20px;
  display: block;
}
